@model IEnumerable<GetFit_Application.Models.Diet>

@{
    ViewData["Title"] = "Diets";
}

<h2>Diets</h2>
<a asp-action="CreateDiet">Create New Diet</a>
<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Calories</th>
            <th>Protein</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Food</td>
        <td>@item.Calories</td>
        <td>@item.Protein</td>
        <td>
            <a asp-action="DietDetils" asp-route-id="@item.Id">Details</a> |
            <a asp-action="EditDiet" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="DeleteDiet" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
